{% extends "base_generic.html" %}

{% block content %}
  <h1>Local Films Home</h1>
  <p>Welcome to LocalBlockbuster, a website developed by <em>Someone</em>!</p>
  <h2>Dynamic content</h2>
  <p>The LocalBlockbuster has the following record counts:</p>
  <ul>
    <li><strong>Films:</strong> {{ num_films }}</li>
<!--    <li><strong>Copies:</strong> {{ num_instances }}</li>-->
<!--    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>-->
<!--    <li><strong>Authors:</strong> {{ num_authors }}</li>-->
  </ul>
{% endblock %}